li{
    display: inline;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

a{
    text-decoration: none;
    padding: 10px;
    text-transform:none;
    color: rgb(197, 197, 197);
    text-align: right;
}

a:hover{
    color: white;
}
nav li[current] a {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

.hintergrundbild{
    height: 400px;
    background-color: black;
    background-image: url(../Aufgabe4/images/italienSonnenuntergang.jpeg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    top: 0;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.nav .li{
    list-style-type: none;
    background-color: transparent;
}

.nav .li:hover {
    background-color: transparent;
    text-decoration: underline;
}

.nav .li:current{
    background-color: transparent;
}

footer{
    background-color: #eaeaea;
    font-size: smaller;
}

nav {
    position: absolute;
    right: 10px;
    background-color: transparent;
    top: 41px;
}

.wrapper{
    position: relative;
    width: 800px;
    left: 50%;
    transform: translateX(-50%)
}

.zeilen{
    display: flex;
    justify-content: space-between;
}

#name{
    background-color: grey;
    color: white;
}
#email{
    background-color: grey;
    color: white;
}
#message{
    background-color: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#senden{
    background-color: grey;
    color: white;
    outline: none;
}

input::placeholder{
    color: white;
}

textarea::placeholder{
    color: white;
}

input, textarea {
    border-width: 0px;
}

h2{
    font-family: 'Monoton', cursive;
}