.button {
    height: 140px;
    width: 140px;
    border-radius: 10px;
    border: 0px;
    margin: 2px;
}

.button.hover{
    transform: scale(0.95);
}

.blau {
    background-color: #2d7ae2;
    background: linear-gradient(#2d7ae2, #0b449f)
}
.pink{
    background-color: #ff5aae;
    background: linear-gradient(#ff5aae, #d40871 )
}
.orange{
    background-color: #f6a33e;
    background: linear-gradient(#f6a33e, #ae5d05 )
}

.play{
    height: 150px;
    width:150px;
    border-radius: 10px;
    border: 0px;
    background-color: transparent;
    margin: 2px;
    margin: auto;
}

body{
    background-color: #000;
}

.drumpad{
    margin: auto;
    width: 462px;
}

.playwrapper {
    text-align: center;
}